<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="navigation">
  <nav>
    <ul>
      <li><a href="/pizzas">All Pizzas</a></li>
      <li><a href="/pizzas/new">New Order</a></li>
    </ul>
  </nav>
</div>
<img src= "http://www.veronapizza.co.uk/wp-content/uploads/2017/01/pizza_trad_pepperoni.png"/>


  <%= yield %>

</body>
</html>
